
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E S S E N T I A L</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"rel="stylesheet">

    <!-- font awsome -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

   <!-- Css Styles -->
   <link rel="stylesheet" href="/home/asset/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/font-awesome.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/elegant-icons.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/jquery-ui.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/magnific-popup.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/owl.carousel.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/slicknav.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/style.css" type="text/css">

</head>

<style>
    /* Hide the default checkbox */
    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 10px; /* Reduced width */
        height: 10px; /* Reduced height */
        border: 1px solid #000000;
        border-radius: 1px;
        position: relative;
        cursor: pointer;
        outline: none;
        background: #ffffff;
    }

    /* Background color for the checkbox */
    input[type="checkbox"]::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px; /* Reduced width */
        height: 8px; /* Reduced height */
        background: #ffffff;
        border-radius: 1px;
        transform: translate(-50%, -50%);
    }

    /* Tick mark for the checkbox */
    input[type="checkbox"]:checked::after {
        content: '\2714';
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fc0303;
        font-size: 16px; /* Reduced font size to fit within the smaller checkbox */
        transform: translate(-50%, -50%);
    }
    /* Change background and border color when checked */
    input[type="checkbox"]:checked {
        background: #ffffff;
        border-color: #000000;
    }
    .swal-title-size {
        font-size: 18px;
        color: white;
    }
    .swal-bg-color {
        background-color: #149c1d; 
        width: 300px; /* Adjust the width as needed */
        height: 60px;
    }
    .custom-confirm-button {
        background-color: #000000 !important; /* Change the background color */
        width: 200px !important; /* Change the width */
    }
</style>

<body>
    <!-- preloader -->
    <%- include('./partials/home/homePreloader.ejs') %>
    
    <!-- header -->
    <%- include('./partials/home/homeHeader.ejs') %>

    <!-- LOGIN popup begin -->
    <%- include('./partials/user/userLogin.ejs') %>

    <!-- registration pop begin -->
    <%- include('./partials/user/uSerRegistration.ejs') %>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Search Product</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <!-- Sort Features -->
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Sort Features</h4>
                                <a class="dropdown-toggle" style="color: black;" data-toggle="collapse" href="#collapseSort" role="button" aria-expanded="false" aria-controls="collapseSort">
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="collapse show" id="collapseSort">
                                <div class="categories__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-body">
                                                <ul>
                                                    <li><input type="checkbox" id="priceLowToHigh" onclick="sortProducts('priceLowToHigh')"><label class="mx-2" >Price : Low to High</label></li>
                                                    <li><input type="checkbox" id="priceHighToLow" onclick="sortProducts('priceHighToLow')"><label class="mx-2" >Price : High to Low</label></li>
                                                    <li><input type="checkbox" id="ascending" onclick="sortProducts('ascending')"><label class="mx-2" >Name : Ascending</label></li>
                                                    <li><input type="checkbox" id="descending" onclick="sortProducts('descending')"><label class="mx-2" >Name : Descending</label></li>
                                                    <li><input type="checkbox" id="newestArrival" onclick="sortProducts('newestArrival')"><label class="mx-2">Newest Arrival</label></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <!-- Categories -->
                        <!-- <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                                <a class="dropdown-toggle" style="color: black;" data-toggle="collapse" href="#collapseCategories" role="button" aria-expanded="false" aria-controls="collapseCategories">
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="collapse show" id="collapseCategories">
                                <div class="categories__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-body">
                                                <ul>
                                                    <li><input type="checkbox" id="shirts" onclick="filterProducts('shirts')"><label class="mx-2">Shirts</label></li>
                                                    <li><input type="checkbox" id="t-shirts" onclick="filterProducts('t-shirts')"><label class="mx-2">T-shirts</label></li>
                                                    <li><input type="checkbox" id="jeans" onclick="filterProducts('jeans')"><label class="mx-2">Jeans</label></li>
                                                    <li><input type="checkbox" id="trousers&Pants"><label class="mx-2">Trousers & Pants</label></li>
                                                    <li><input type="checkbox" id="jackets&coats"><label class="mx-2">Jackets & Coats</label></li>
                                                    <li><input type="checkbox" id="skirt"><label class="mx-2">Skirt</label></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div> -->
                
                        <!-- Shop by Size -->
                        <!-- <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Shop by Size</h4>
                                <a class="dropdown-toggle" style="color: black;" data-toggle="collapse" href="#collapseSize" role="button" aria-expanded="false" aria-controls="collapseSize">
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="collapse show" id="collapseSize">
                                <div class="categories__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-body">
                                                <ul>
                                                    <li><input type="checkbox" id="small" onclick="filterSize('small')"><label class="mx-2">S</label></li>
                                                    <li><input type="checkbox" id="medium" onclick="filterSize('medium')"><label class="mx-2">M</label></li>
                                                    <li><input type="checkbox" id="large" onclick="filterSize('large')"><label class="mx-2">L</label></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                
                        <!-- Shop by Color -->
                        <!-- <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Shop by Color</h4>
                                <a class="dropdown-toggle" style="color: black;" data-toggle="collapse" href="#collapseColor" role="button" aria-expanded="false" aria-controls="collapseColor">
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="collapse show" id="collapseColor">
                                <div class="categories__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-body">
                                                <ul>
                                                    <li><input type="checkbox" id="black" onclick="filterColor('black')"><label class="mx-2">Black</label></li>
                                                    <li><input type="checkbox" id="white" onclick="filterColor('white')"><label class="mx-2">White</label></li>
                                                    <li><input type="checkbox" id="red" onclick="filterColor('red')"><label class="mx-2">Red</label></li>
                                                    <li><input type="checkbox" id="green" onclick="filterColor('green')"><label class="mx-2">Green</label></li>
                                                    <li><input type="checkbox" id="grey" onclick="filterColor('grey')"><label class="mx-2">Grey</label></li>
                                                    <li><input type="checkbox" id="blue" onclick="filterColor('blue')"><label class="mx-2">Blue</label></li>
                                                    <li><input type="checkbox" id="magenta" onclick="filterColor('magenta')"><label class="mx-2">Magenta</label></li>
                                                    <li><input type="checkbox" id="yellow" onclick="filterColor('yellow')"><label class="mx-2">Yellow</label></li>
                                                    <li><input type="checkbox" id="navy" onclick="filterColor('navy')"><label class="mx-2">Navy</label></li>
                                                    <li><input type="checkbox" id="orange" onclick="filterColor('orange')"><label class="mx-2">Orange</label></li>
                                                    <li><input type="checkbox" id="multi" onclick="filterColor('multi')"><label class="mx-2">Multi</label></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                                        
                    </div>   
                </div>
                
                <div class="col-lg-9 col-md-9">
                    <div class="row" id="productList">
                        <% for(let i=0;i<products.length;i++){ %>
                            <div class="col-lg-4 col-md-6">
                                <div class="product__item" >
                                    <div class="product__item__pic" style="background-image: url('/admin/asset/img/product/<%= products[i]?.images[0] %>');">
                                        <div class="label new">New</div>

                                        <div class="wishlist d-flex justify-content-end m-2">
                                            <span class="d-flex justify-content-center align-items-center" style="width: 40px;height:40px;border-radius:50%;">
                                                <% if (locals.user) { %>
                                                    <% const isInWishlist = locals.user.wishlist.some(item => item.productId.toString() === products[i]._id.toString()); %>
                                                    <i id="wlist-<%= products[i]._id %>" onclick="addToWishlist('<%= products[i]._id %>', event)" class="bi bi-heart-fill" style="color: <%= isInWishlist ? 'red' : 'rgb(255, 255, 255)' %>; font-size: 20px;"></i>
                                                <% } else { %>
                                                        <i class="bi bi-heart-fill" style="color: rgb(255, 255, 255); font-size: 20px;"></i>
                                                <% } %>
                                            </span>
                                        </div>

                                        <ul class="product__hover">
                                            <li><a href="/admin/asset/img/product/<%= products[i]?.images[0] %>" class="image-popup"><span class="arrow_expand"></span></a></li>
                                            <!-- <li><a href="#" onclick="addToWishlist('<%#= products[i]._id %>',event)"><span class="icon_heart_alt"></span></a></li> -->
                                            <li><a href="#" onclick="addToCart('<%= products[i]._id %>',event)"><span class="icon_bag_alt"></span></a></li>
                                        </ul>
                                        <% if (products[i].quantity <= 0) { %>
                                            <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;font-size: small;" class="alert-danger text-danger p-2 font-weight-bold badge">Out of stock</span>
                                        <% } %>
                                    </div>
                                    <div class="product__item__text">
                                        <h6 class="my-3"><a href="#" onclick="redirectToProductDetail('<%= products[i]._id %>',event)"><%= products[i]?.productName %></a></h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <% if (products[i].price && products[i].offerPrice) { %>
                                            <div class="product__price" style="display: flex; justify-content:space-evenly;">
                                                <span>₹ <%= products[i]?.price %></span>
                                                <p class="font-weight-bold">₹ <%= products[i]?.offerPrice %></p>
                                            </div>
                                        <% } else { %>
                                            <div class="product__price">₹ <%= products[i]?.price %></div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                         <% } %>

                        <div class="col-lg-12 text-center mt-5">
                            <div class="pagination__option d-inline-block">
                                <% if (page>1) { %>
                                    <a href="menproductlist?page=<%= page-1 %>"><i class="fa fa-angle-left"></i></a>
                                <% } %>
                                <a href="#"><%= page %></a>
                                <!-- <a href="#"><%#= totalPages %></a> -->
                                <% if (page<totalPages) { %>
                                    <a href="menproductlist?page=<%= page+1 %>"><i class="fa fa-angle-right"></i></a>
                                <% } %>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- footer -->
    <%- include('./partials/home/homeFooter.ejs') %>

    <!-- Js Plugins -->
    <script src="/home/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/home/asset/js/bootstrap.min.js"></script>
    <script src="/home/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="/home/asset/js/jquery-ui.min.js"></script>
    <script src="/home/asset/js/mixitup.min.js"></script>
    <script src="/home/asset/js/jquery.countdown.min.js"></script>
    <script src="/home/asset/js/jquery.slicknav.js"></script>
    <script src="/home/asset/js/owl.carousel.min.js"></script>
    <script src="/home/asset/js/jquery.nicescroll.min.js"></script>
    <script src="/home/asset/js/main.js"></script>
    <script src="/home/asset/js/SrchSrtFiltr.js"></script>
   <!-- sweet alert -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <!-- jquery -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- toastr -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    
    <script>
        function redirectToProductDetail(productId,event){
            window.location.href = '/productdetailpage?pid=' + productId;
        }
        
        function addToCart(productid,event){
            event.preventDefault();
            //-----------------
            $.ajax({
                method: 'POST',
                url: '/addToCart',
                data: { productid }, 
                success : function(res){
                    // Handle the response
                    if(res.notLogin){
                        const loginButton = document.querySelector('.login-button');
                        if(loginButton){
                            const clickEvent = new MouseEvent('click', {
                                bubbles: true,
                                cancelable: true,
                                view: window
                            });
                            loginButton.dispatchEvent(clickEvent);
                        }else{
                            console.error('Login button not found');
                        }
                    }else if(res.toCart){
                        if (typeof res.cartcount == "number") {
                            const cartl = document.getElementById("cartlenght");
                            cartl.innerHTML = res.cartcount;
                        }
                        Swal.fire({
                            position: "bottom-end",
                            title: "<i class='fa-solid fa-thumbs-up'>&nbsp</i> Item Added To Cart",
                            showConfirmButton: false,
                            timer: 1500,
                            customClass: {
                                title: 'swal-title-size',
                                popup: 'swal-bg-color',
                            },
                            html: true, // Enable HTML content
                            backdrop: false
                        });
                    }else{
                        Swal.fire({
                            position: "bottom-end",
                            title: "Item Not Added To Cart",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            });
        }
        
        function addToWishlist(productId,event){
            event.preventDefault();
            $.ajax({
            method : "POST",
            url : '/addToWishlist',
            data : { productId },
            success : function(res){
                if(res.notLogin){
                    const loginButton = document.querySelector('.login-button');
                    if(loginButton){
                        const clickEvent = new MouseEvent('click', {
                            bubbles: true,
                            cancelable: true,
                            view: window
                        });
                        loginButton.dispatchEvent(clickEvent);
                    }else{
                        console.error('Login button not found');
                    }
                }else if(res.existing){ 
                    Swal.fire({
                        position: "bottom-end",
                        title: "<i class='fas fa-solid fa-exclamation-circle'>&nbsp</i> Item already in Wishlist",
                        showConfirmButton: false,
                        timer: 1500,
                        customClass: {
                            title: 'swal-title-size',
                            popup: 'swal-bg-color', 
                        },
                        background: '#c01010',
                        html: true, // Enable HTML content
                        backdrop: false
                    });
                }else if(res.addedToWishlist){
                    if(typeof res.wishlistSize == "number"){
                        const wishlisticon = document.getElementById("wishlisticon");
                        wishlisticon.innerHTML = res.wishlistSize;

                        const wicon = document.getElementById(`wlist-${productId}`);
                        wicon.style.color = "red";
                    };

                    Swal.fire({
                        position: "bottom-end",
                        title: "<i class='fa-solid fa-thumbs-up'>&nbsp</i> Item Added To Wishlist",
                        showConfirmButton: false,
                        timer: 1500,
                        customClass: {
                            title: 'swal-title-size',
                            popup: 'swal-bg-color', 
                        },
                        html: true, // Enable HTML content
                        backdrop: false
                    });
                }else{
                    Swal.fire({
                        position: "bottom-end",
                        title: "Item Not Added To Wishlist",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            },
        });
        }
   </script>

</body>
</html>