<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E S S E N T I A L</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


   <!-- Css Styles -->
   <link rel="stylesheet" href="/home/asset/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/font-awesome.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/elegant-icons.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/jquery-ui.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/magnific-popup.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/owl.carousel.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/slicknav.min.css" type="text/css">
   <link rel="stylesheet" href="/home/asset/css/style.css" type="text/css">
   <link rel="stylesheet" href="/user/asset/css/userDash.css" type="text/css">

</head>

<style>
    .form-control:focus {
        border-color: #ced4da; /* Set border color to default */
        box-shadow: none; /* Remove box shadow */
    }

    .btn-outline-secondary:focus{
        box-shadow: none;
    }

    .otp-input {
            display: none;
    }

    .otp-field {
        flex-direction: row;
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .otp-field input {
        height: 45px;
        width: 42px;
        border-radius: 6px;
        outline: none;
        font-size: 1.125rem;
        text-align: center;
        border: 1px solid #ddd;
    }
    .otp-field input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }
    .otp-field input::-webkit-inner-spin-button,
    .otp-field input::-webkit-outer-spin-button {
        display: none;
    }
    
    .resend {
        font-size: 12px;
    }

    .bgWhite{
        background:rgb(236, 234, 234);
        box-shadow:0px 3px 6px 0px #cacaca;
        margin: 45px 0px;
    }
    
    .customBtn{
        border-radius:0px;
        padding:10px;
    }
    
    form input{
        display:inline-block;
        width:150px;
        height:50px;
        /* text-align:center; */
    }
</style>

<body style="background-color: rgb(240, 239, 239);">
    <!-- preloader -->
    <%- include('./partials/home/homePreloader.ejs') %>
    
    <!-- header -->
    <%- include('./partials/home/homeHeader.ejs') %>

    <!-- LOGIN popup begin -->
    <%- include('./partials/user/userLogin.ejs') %>

    <!-- registration pop begin -->
    <%- include('./partials/user/userRegistration.ejs') %>

    <!-- Breadcrumb Begin -->
    <!-- <div class="breadcrumb-option">
        <div class="container mt-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/"></i> User</a>
                        <a href="/"></i> Forget Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- main body -->

    <div class="container d-flex align-items-center justify-content-center" style="margin-top:4%;margin-bottom:3%;">
        <div class="bg-white" style="width:700px;padding:20px 50px;box-shadow: 0px 0px 20px rgba(0,0,0,0.2);">
            <!-- <form method="post" action="/passwordForget" id="forgotPasswordForm" onsubmit="return forgetPasswordValidation();"> -->
            <form method="post" action="/passwordForget" id="forgotPasswordForm" onsubmit="return false;">
                <div class="row">

                    <div class="col-12 text-center"><p class="h5 mb-4"><u class="text-dark">Forgot Password</u></p></div>

                    <div class="mb-2 col-12 text-center"><h6 id="bEmailError" class="text-danger font-weight-bold"></h6></div>
                    
                    <div class="col-lg-12 mb-2">
                        <label for="email">Email address:</label>
                        <input type="email" name="email" class="form-control" id="forgotEmail" placeholder="Enter Email Address" required>
                    </div>
                    
                    <div><p id="femailError" class="text-danger"></p></div>
                    
                    <div class="col-lg-6 mb-2">
                        <label for="password">Password:</label>
                        <div class="input-group">
                            <input type="password" name="password" class="form-control" id="forgotPassword" placeholder="Enter Password" aria-describedby="passwordToggle">
                            <button type="button" class="btn btn-outline-dark" id="passwordToggle" onclick="togglePasswordVisibility('password')">
                                <i class="bi-eye"></i>
                            </button>
                        </div>
                        <div><p id="fpasswordError" class="text-danger"></p></div>
                    </div>

                    <div class="col-lg-6 mb-1">
                        <label for="confirmPassword">Confirm Password:</label>
                        <div class="input-group">
                            <input type="password" name="confirmPassword" class="form-control" id="forgotConfirmPassword" placeholder="Confirm Password" aria-describedby="confirmPasswordToggle">
                            <button type="button" class="btn btn-outline-dark" id="confirmPasswordToggle" onclick="togglePasswordVisibility('confirmPassword')">
                                <i class="bi-eye"></i>
                            </button>
                        </div>
                        <div><p id="fconfirmPasswordError" class="text-danger"></p></div>
                    </div>

                    <div class="col-lg-12 mt-2" id="enterOtpButton">
                        <button type="submit"  onclick="submitForgotPasswordForm()" class="btn w-100 text-white" style="background-color: black;">Enter For OTP</button>
                    </div>

                   

                </div>
            </form>
        </div>
    </div>

    <!-- footer -->
    <%- include('./partials/home/homeFooter.ejs') %>

    <script>

        //---------------
        function userNotFound(){
            const invalidEmail=document.getElementById('bEmailError');
            invalidEmail.innerHTML="No user account exist with this email !";
        }

        //-------------
        function forgetPasswordValidation(){
            const email = document.getElementById('forgotEmail');
            const password = document.getElementById('forgotPassword');
            const confirmPassword = document.getElementById('forgotConfirmPassword');

            // Error fields
            const emailError = document.getElementById('femailError'); 
            const passwordError = document.getElementById('fpasswordError'); 
            const confirmPasswordError = document.getElementById('fconfirmPasswordError'); 

            // Regex
            const emailRegex = /^\S+@\S+\.\S+$/;
            const passwordRegex = /^.{4,}$/;
            
            // Email field
            if(email.value.trim() === ''){
                emailError.innerHTML = 'Field is required';
                setTimeout(()=>{
                    emailError.innerHTML = '';
                },2000);
                return false;
            }
            if(!emailRegex.test(email.value)){
                emailError.innerHTML = 'Please enter valid email';
                setTimeout(()=>{
                    emailError.innerHTML = '';
                },2000);
                return false;
            }
       
            // Password field
            if(password.value.trim() === ''){
                passwordError.innerHTML = 'Field is required';
                setTimeout(()=>{
                    passwordError.innerHTML = '';
                },2000);
                return false;
            }
            if(!passwordRegex.test(password.value)){
                passwordError.innerHTML = 'Password should be at least 4 characters long';
                setTimeout(() => {
                    passwordError.innerHTML = '';
                }, 2000);
                return false;
            }
            // Confirm password field
            if(confirmPassword.value.trim() === ''){
                confirmPasswordError.innerHTML = 'Field is required';
                setTimeout(()=>{
                    confirmPasswordError.innerHTML = '';
                },2000);
                return false;
            }
            // Password and Confirm Password checking
            if(password.value !== confirmPassword.value){

                console.log("-------------",password.value,"password",confirmPassword.value,"pw values")
                confirmPasswordError.innerHTML = 'Passwords do not match';
                setTimeout(() => {
                    confirmPasswordError.innerHTML = '';
                },2000);
                return false;
            }

            return true; // All validations passed
        }  
    </script>

<script>
     function submitForgotPasswordForm() {
            if (!forgetPasswordValidation()) return;

            const form = document.getElementById('forgotPasswordForm');
            const formData = new FormData(form);

            fetch('/passwordForget', {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                // alert("respons data---",data);
                if (data.success) {
                    window.location.href = data.redirectUrl;
                } else {
                    // alert(data.message);
                    userNotFound();

                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
</script>

    <!-- Js Plugins -->
    <script src="/home/asset/js/jquery-3.3.1.min.js"></script>
    <script src="/home/asset/js/bootstrap.min.js"></script>
    <script src="/home/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="/home/asset/js/jquery-ui.min.js"></script>
    <script src="/home/asset/js/mixitup.min.js"></script>
    <script src="/home/asset/js/jquery.countdown.min.js"></script>
    <script src="/home/asset/js/jquery.slicknav.js"></script>
    <script src="/home/asset/js/owl.carousel.min.js"></script>
    <script src="/home/asset/js/jquery.nicescroll.min.js"></script>
    <script src="/home/asset/js/main.js"></script>

</body>
</html>
